<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
    <%= render "devise/shared/error_messages", resource: @user %>
    <%= form_with model:@user, local:true do |f| %>
      <div class="form-group">
        <label for="user_name">Name</label><br />
        <%= f.text_field :name, autofocus: true, id:"user_name", placeholder:"名前", class: 'form-control name'%>
      </div>
      <div class="form-group">
        <label for="inputImage">Image</label><br />
        <%= f.file_field :image,placeholder: "ファイルを選択", accept: "image/*" %><br>
      </div>
      <div class="form-group">
        <label for="user_introduction">Introduction</label><br />
        <%= f.text_area :Introduction, rows:'5', id:"user_Introduction", placeholder: "Introduction", class: 'form-control Introduction' %>
      </div>
      <div class="form-group">
        <%= f.submit "Update User", class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
